# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.StreamerSite.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\workspace\StreamerSite\.idea\.idea.StreamerSite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
